*.pyc
__pycache__/
.vscode
output*
build
**/build/
*.egg-info/
dist/
**/*.so
**/*.pyd
**/*.o
**/*.obj
**/*.a
**/*.lib
**/*.exp
**/*.whl
tensorboard_3d
screenshots
*.json
*.ipynb
*.ply
extrinsic.py
nohup*
!real_render.sh
!real_train.sh
!syn_render.sh
!syn_train.sh
train/
test/
